<html>
<head>
    <title> Airport Weather Data</title>
</head>
<body>
    <div class="form-style-6">
        <h1>Hello there people. The weather for {{ airportName }} today is {{weather}}.</h1>


        <h4>It is {{temp}} degrees F. It feels like {{feels_like}} degrees F</h4>

        <h4>Minimum temperature for the day is {{temp_min}} degrees F</h4>

        <h4>Maximum temperature for the day is {{temp_max}} degrees F</h4>

        <h4>Humidity for the day is {{humidity}}%</h4>
    </div>

</body>

<style type="text/css">
    .form-style-6{
        font: 95% Arial, Helvetica, sans-serif;
        max-width: 400px;
        margin: 10px auto;
        padding: 16px;
        color: #43D1AF;
        background: #F7F7F7;
    }
    .form-style-6 h1{
        background: #43D1AF;
        padding: 30px ;
        font-size: 140%;
        font-weight: 300;
        text-align: center;
        color: #fff;
        margin: -16px -16px 16px -16px;
    }
    </style>

</html>
